/* *{
  border: 2px solid red;
  margin: 10px;
  padding: 10px;
}*/
a strong{
  margin-top: 10px;
  margin-bottom: 10px;
}
article ol{
  list-style-type: none;
}
body{
  background: black;
  color: white;
  font-family: 'Eurostile', 'Catamaran', sans-serif;
}
form input[type=email]{
  border: 2px solid gray;
  border-radius: 5px;
  height: 28px;
  margin-top: 5px;
  margin-bottom: 5px;
}
form input[type=submit]{
  background: black;
  border-color: black;
  border-radius: 8px;
  color: white;
  margin-top: 10px;
  padding: 10px;
  width: 170px;
}
form input[type=text]{
  border: 2px solid gray;
  border-radius: 5px;
  height: 28px;
  margin-top: 5px;
}
form label{
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 5px;
}
form p{
  font-size: 18px;
}
table{
  width: 100%;
}
table, td, th{
  border: 2px solid white;
  border-collapse: collapse;
  text-align: center;
}
th{
  background: #FFFFFF;
  color: black;
  padding: 10px;
}
td{
  padding: 20px;
}
.contact{
  margin-right: 130px;
}
.contact a{
  color: black;
  font-size: 20px;
  text-decoration: none;
}
.contact strong{
  display: block;
}
.container{
  border-left: 2px solid white;
  border-right:2px solid white;
  margin: auto;
  padding: 20px;
  width: 1200px;
}
.container-info-l{
  margin-left: 300px;
  margin-top: 50px;
}
.container-info-r{
  margin-left: 600px;
}
.cover{
  background-image: url("../img/backgroundCuervo.jpg");
  background-size: cover;
  color: black;
}
.cover button{
  background: black;
  /*background: linear-gradient(to left, black, gray);*/
  border-color: black;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 120px;
  margin-left: 10px;
  padding: 7px 12px 7px 12px;
}
.form{
  color: black;
  display: flex;
  flex-direction: column;
  width: 400px;
}
.footer{
  background: #FFFFFF;
  border-bottom: 2px solid white;
}
.footer-flex{
  display: flex;
}
.img-name{
  display: inline-block;
  margin-left: 40px;
  margin-bottom: 30px;
  width: 500px;
}
.img-stadium{
  height: 400px;
  width: 1200px;
  margin-bottom: 10px;
}
.header{
  border-top: 2px solid white;
}
.left{
  float: left;
  margin-left: 300px;
  position: relative;
  top: -60px
}
.logo{
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
}
.logo img{
  display: inline-block;
}
.menu{
  display: inline-block;
  float: right;
  font-size: 24px;
  margin-top: 200px;
}
.menu a{
  color: white;
  text-decoration: none;
}
.menu li{
  display: inline-block;
  margin-right: 30px;
}
.players{
  border-bottom: 2px solid white;
}
.players h2{
  font-size: 30px;
  margin-left: 10px;
}
.player{
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 10px 50px 10px;
}
.player h3{
  font-size: 40px;
  margin-bottom: 20px;
}
.player ol{
  padding: 0;
}
.player-name{
  display: inline-block;
}
.right{
  float: right;
  margin-bottom: 20px;
  margin-right: 300px;
  position: relative;
  top: -40px;
}
.sponsors{
  margin-right: 170px;
}
.sponsors img{
  height: 150px;
  width: 300px;
}
.title{
  color: black;
  font-size: 60px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-top: 150px;

}
.title-description{
  font-size: 35px;
  margin-left: 10px;
  margin-top: 0;
}
.title-footer{
  color: black;
  margin-bottom: 0px;
  font-size: 24px;
}
.title-footer-left{
  color: black;
  margin-bottom: 0px;
  margin-left: 25px;
  font-size: 24px;
}
